.question {
    font-size: 14px;
    font-weight: normal;
}

.response {
    font-weight: bold;
    margin-bottom: 30px;
}

.wrapper-questions .title-section{
    margin: 30px 0px 30px;
}

.wrapper-confirmation-page .alert {
    text-align: center;
    font-size: 20px;
    border-radius: 0px;
}
.wrapper-confirmation-page .well {
    border-radius: 0px;
}

.wrapper-confirmation-page {
    margin-top: 55px;
}